@import "public";
section{
  height: 100%;
  background-color: #f2f2f2;
}
#order{
  width: 80%;
  margin: 0 auto;
  padding: 10px 0 0;
  >div:nth-of-type(1){
    position: relative;
    overflow: hidden;
    #addres{
      padding-top: 20px;
      width: 100%;
      overflow: hidden;
      >.address{
        margin-bottom: 30px;
      }
    }
    >div{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      div{
        width: 20%;
      }
    }
    h3{
      width: 100%;
      font-size: @mdFont;
      margin-bottom: 15px;
    }
  }
  //收货地址
  >div>div>div{
    width: 20%;
    height: 80px;
    float: left;
    background-color: #E4E4E4;
    position: relative;
    span:nth-of-type(1){
      position: absolute;
      top: -20px;
      right: 0;
      font-size: 12px;
      color: #C9C9C9;
    }
    //修改按钮
    a{
      position: absolute;
      top: 65px;
      left: 5px;
      font-size: 12px;
      color: #E83518;
      cursor: pointer;
    }
    span:nth-of-type(2){
      position: absolute;
      top: 60px;
      right: 0px;
      font-size: 18px;
      color: #E83518;
    }
    p{
      width: 100%;
    }
    P:nth-of-type(1){
      height: 30px;
      line-height: 30px;
      background-color: #d7d7d7;
    }
  }
  //这里是显示全部地址
  >div>div:nth-of-type(2){
    width: 100%;
    height: 30px;
    float: left;
    line-height: 30px;
    overflow: hidden;
    color: @dotColor;
    p:first-child{
      cursor: pointer;
      float: left;
    }
    p:last-child{
      cursor: pointer;
      float: right;
    }
  }
  //确认商品
  >div>div:nth-of-type(3){
    width: 100%;
    height: 30px;
    font-size: @smFont;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    float: left;
  }
  table{
    width: 100%;
    padding-bottom: 5px;
    th{
      text-align: center;
    }
    th:first-child{
      text-align: left;
    }
    #displayGoods{
      td{
        position: relative;
        padding: 10px 0px;
        line-height: 50px;
        text-align: center;
        img{
          width: 100px;
          height: 100px;
        }
      }
      td:first-child{
        text-align: left;
        span{
          position: absolute;
          top: 25%;
          left: 120px;
        }
      }
    }
  }
}

.function{
  width: 100%;
  height: 150px;
  line-height: 40px;
  margin-top: 20px;
  border-top: 1px #D7D7D7 solid;
  position: relative;
  overflow: hidden;
 p{
   width: 15%;
   height: 40px;
   text-align: center;
   position: absolute;
 }
  p:nth-of-type(1){
    font-size: 18px;
    top: 0px;
    right: 70px;
    span:nth-of-type(2){
      font-size: 22px;
      color: #E83518;
      margin-left: 10px;
    }
  }
  p:nth-of-type(2){
    top: 65px;
    right: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    background-color: @dotColor;
  }
  a{
    position: absolute;
    top: 75px;
    font-size: @xsFont;
    color: #90D81D;
    right: 20%;
  }
}

//模态框
section>div{
  position: relative;
  #payment{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #f2f2f2;
    >div{
      width: 50%;
      height: 100%;
      margin: 0 auto;
      >ul{
        position: relative;
        margin-top: 5%;
        >li:first-child span:nth-of-type(3){
          position: absolute;
          right: 2%;
          top: -2%;
          font-size: 24px;
          color:#FF8208;
          margin-left: 50%;
          margin-right: 0.5%;
        }
        >li:first-child span:nth-of-type(4){
          position: absolute;
          right: 0%;
          top: 5%;
          font-size: 14px;
        }
        >li{
          float: none;
          >span{
            font-size: 12px;
            text-align: right;
          }
          >span:first-child{
            margin-right: 10%;
          }
        }
      }
      >div:nth-of-type(1){
        margin-top: 2%;
        >div:first-child{
          border: 1px #0099FF solid;
        }
        >div{
          overflow: hidden;
          padding: 5px;
         >p{
           font-size: 12px;
            margin-right: 4%;
            float: left;
          }
         >p:first-child{
            margin-left: 2%;
           input{
             width: 10px;
             height: 10px;
           }
          }
         >p:last-child{
            color: #E83518;
            margin-left: 25%;
            margin-right: 0px;
          }
         >p:last-child span:first-child{
            margin-right: 5px;
          }
        }
      }
      >div:nth-of-type(2){
        margin-top: 2%;
        overflow: hidden;
        padding-top: 15px;
        margin-bottom: 20px;
        border-top: 1px #d7d7d7 solid;
        >p{
          font-size: 12px;
          color: #0099FF;
          float: left;
        }
        >p:first-child{
          margin-left: 5%;
        }
        >p:last-child{
          margin-right: 5%;
          float: right;
        }
      }
      >div:nth-of-type(3){
        overflow: hidden;
        >p{
          font-size: 14px;
          margin-bottom: 20px;
        }
        >div input:first-child{
          margin-left: 5%;
        }
        >div input{
          text-align: center;
          width: 20px;
          height: 20px;
          border: 1px #00FFFF solid;
          float: left;
        }
        >div a{
          margin-left: 15px;
          color: #00CCFF;
          font-size: 12px;
        }
      }
      >div:nth-of-type(4){
        text-align: center;
        line-height: 25px;
        width: 14%;
        height: 25px;
        margin-top: 10px;
        font-size: 12px;
        float: right;
        cursor:pointer;
        color: white;
        background-color: @dotColor;
      }
    }
  }
  #paymentt{
    width: 25%;
    height: 30%;
    color: #0C0C0C;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 10;
    margin: auto;
    display: none;
    background-color: white;
    >p{
      text-align: center;
      width: 100%;
      margin: 0 auto;
    }
    >p:first-child{
      margin-top: 10%;
      font-size: 20px;
    }
  }
}

//类选择器
.kuang{
  border: 2px #0099FF dashed;
}
.yin{
  display: none;
}
.xian{
  display: block;
}
.height{
  height: 100px;
}
.H{
  height: 108px;
  overflow: hidden;
}