@import "public";
*{
  font-family: @font;
}
@borderColor:#D7D7D7;//边框颜色
// 整体居中
.center{
  margin:0  auto;
}
//清除浮动
.clear{
  overflow: hidden;
}
ul>li{
  cursor: pointer;
}
//字体居中
.sizeCenter{
  text-align: center;
}
section{
  width: 1200px;
  min-width: 1000px;
  border: 1px solid red;
  .clear();
  .center();
  >div{
    float: left;
    margin-left: 3%;
    >p{
      font-size: @smFont;
      color: @dotColor;
      height: 35px;
      .center();
      line-height: 35px;
    }
    >p>span{
      width: 10px;
      height: 10px;
      background: @dotColor;
      border-radius:10px;
      display: inline-block;
    }
  }
 > .left{
    width: 200px;
    min-width: 20%;
   >p{
     float: right;
     .clear();
   }
  }
 > .right{
    min-width: 70%;
   .clear();
   >p{
     border-bottom: 1px solid @borderColor;
   }
  }
}
//左侧导航栏
.leftNav{ //左侧导航
  border:1px solid @borderColor;
  margin-top:@lgMargin;
  padding-top: @lgPadding;
  >.tou{
    .center();
    border:1px solid @borderColor;
    width: 176px;
    height: 176px;
    border-radius: 176px;
    >img{
      margin: 5% ;
      width: 90%;
      height: 90%;
      border-radius: 100%;
    }
  }
  >.menu{
    .center();
    width: 100%;
    .sizeCenter();
    padding: 30px 0;
    .clear();
    ul>li{
      width: 100%;
      &:hover{
        color: @dotColor;
      }
    }
    >ul>li:nth-of-type(1){
      color: @dotColor;
    }
    >ul>li{
      clear: both;
      font-size: @smFont;
      margin-top: 15px;
      >span{
        font-size: @smFont;
      }
      >ul>li{
       clear: both;
        font-size: @xsFont;
        color: black;
        margin-top:@smMargin;
          &:hover{
            color: @dotColor;
        }
      }
    }
  }
}
// 右栏
// 我的订单
.myOrder{
  margin-top: @bgMargin;
  width: 95%;
  text-align: left;
  font-size:@xsFont ;
  >tbody>tr>td:nth-of-type(2){
    line-height: 20px;
  }
  >tbody>tr>td:nth-of-type(3){
    color: #e83518;
  }
  span{
    font-weight: bold;
  }
  a{
    color:@dotColor ;
  }
  img{
    width: 110px;
    height: 90px;
  }
}
//我的收藏
.myCollection{
  width: 100%;
  .collectionList>li{
    margin-top: @bgMargin;
    margin-left: 2%;
    box-shadow: 0 0 5px #999999;
    div,p{
      margin-top:@smMargin ;
      padding: 0 @smMargin;
    }
    img{
      width: 256px;
      height: 208px;
    }
    p:nth-of-type(1){
      font-size: @smFont;
      font-weight: bold;
      .clear();
      >span{
        float: right;
        color: #e83518;
        margin-right:@smMargin;
        font-weight: lighter;
      }
    }
    p:nth-of-type(2){
      font-size: 12px;
    }
    .gouMai{
      .clear();
      color: @dotColor;
      padding-bottom: @smMargin;
      >p:nth-of-type(1){
        float: left;
        font-size:@mdFont;
      }
      >p:nth-of-type(2){
        float: right;
        width: 95px;
        height: 25px;
        .sizeCenter();
        line-height: 25px;
        font-size: 12px;
        border-radius:30px ;
        color: white;
        background: @dotColor;
      }
    }
  }
  .collectionList>li:nth-of-type(1){
    margin-left: 0;
  }
}
//我的地址
.addAdress{
  margin: @mdMargin;
  font-size: @xsFont;
  >span{
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border: 1px solid black;
    border-radius:15px ;
    .sizeCenter();
  }
}
.myAddress{
  margin-top: @bgMargin;
  width: 95%;
  text-align: left;
  font-size:@xsFont ;
  >tbody>tr:nth-of-type(1)>td:nth-last-child(1)>a{
    border: 1px solid @dotColor;
    color: @dotColor;
  }
  >tbody>tr>td:nth-last-child(1)>a{
    border: 1px solid black;
    color: black;
    .sizeCenter();
    display: inline-block;
    width: 75px;
    height: 25px;
    line-height: 25px;
  }
}
.divPage{
  margin-top:@lgMargin ;
  float: right;
  >ul>li{
    .clear();
    width: 30px;
    height: 30px;
    .sizeCenter();
    line-height: 30px;
    border: 1px solid @borderColor;
    margin-left: @smMargin;
  }
} //分页
