<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>全部商品</title>
    <link rel="stylesheet" type="text/css" href="../css/allProducts-base.css" />
    <link rel="stylesheet" type="text/css" href="../css/allProducts-uncover.css" />
    <link rel="stylesheet" href="../css/allProducts.css">
    <script>
		document.documentElement.className = "js";
		var supportsCssVars = function() { var e, t = document.createElement("style"); return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e };
		supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
    </script>
</head>
<!--全部商品-->
<body>
    <%-include("head.html")%>
    <section id="navigation" class="navigation">
        <nav>
            <p>全品类商品</p>
            <ul>
                <li><h4>网红小吃</h4>
                    <ul>
                    <% for (let i=0;i < goods.length;i++) { if(goods[i].food==1){%>
                        <li><a href="/goodsDetail?g=<%=goods[i].id%>"><%=goods[i].name%></a></li>
                    <% }} %>
                    </ul>
                </li>
                <li>
                    <h4>特色礼品</h4>
                    <ul id="giftList">
                        <% for (let i=0;i < goods.length;i++) { if(goods[i].gift==1){%>
                            <li><a href="/goodsDetail.do?g=<%=goods[i].id%>"><%=goods[i].name%></a></li>
                        <% }} %>
                    </ul>
                </li>
                <li>
                    <h4>分类</h4>
                    <ul id="splbList">
                        <% for (let i=0;i < splb.length;i++) {%>
                            <li data-id="<%=splb[i].id%>"><%=splb[i].name%></li>
                        <%}%>
                    </ul> 
                </li>
            </ul>
        </nav>
        <main>
			<div class="content content--fixed">
				<a class="github" href="https://github.com/codrops/SliceRevealer" title="Find this project on GitHub">
					<svg class="icon icon--github">
						<use xlink:href="#icon-github"></use>
					</svg>
				</a>
				<nav class="pagination">
                    <% for (let i=0;i < banner.length;i++) {%>
                        <span class="pagination__item"></span>
                    <%}%>
				</nav>
			</div>
			<div class="slides">
                <% for (let i=0;i < banner.length;i++) {%>
                    <div class="slide">
                        <div class="slide__img" style="background-image: url('../img<%=banner[i].banner%>');"></div>
                    </div>
                <% } %>
			</div>
        </main>
    </section>
    <section class="orderBar">
        <ul>
            <li class="checked" id="complex"><span>综合</span></li>
            <li id="new"><span>新品</span></li>
            <li id="volume"><span>销量</span></li>
            <li><span id="price">价格</span><a id="priceDown" class="icon icon-052caozuo_jiangxu"></a><a id="priceUp" class="icon icon-053caozuo_shengxu"></a></li>
            <li><input type="text" id="lowerPrice"/> - <input type="text" id="upperPrice"/></li>
        </ul>
    </section>
    <section id="products" class="products">
        <% for (let i=0;i < goods.length;i++) {%>
            <div class="goods" data-id="<%=goods[i].id%>">
                <div>
                     <a href="/goodsDetail.do?g=<%=goods[i].id%>"><img src="../img/goods/<%=goods[i].src%>" alt="" /></a>
                </div>
                <h4><a href="/goodsDetail?g=<%=goods[i].id%>"><%=goods[i].name%></a></h4>
                <p>￥ <%=goods[i].price%><span class="icon icon-gouwuche shopcard"></span></p>
            </div>
        <% } %>
    </section>
    <%-include("footer.html")%>
    <script src="../plug/jquery/jquery-3.3.1.min.js"></script>
    <script src="../js/allProducts-imagesloaded.pkgd.min.js"></script>
    <script src="../js/allProducts-anime.min.js"></script>
    <script src="../js/allProducts-uncover.js"></script>
    <script src="../js/allProducts.js"></script>
    <script src="../js/head.js"></script>
</body>
</html>