<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./css/flavorDetails.css">
</head>
<body>
<%-include("head.html")%>
<section>
    <div id="bgimg"></div>
</section>
<div id="container">
    <div id="content">
        <section class="main_one">
            <div>
                <h1>最美的味道，究竟是在记忆中的何处？|口味探险家</h1>
                <div class="section_one">
                    <div class="headimg">
                        <img src="img/1/5.jpg" alt="">
                        <p class="clear_one">山海一线</p>
                        <p class="clear_one">2019-05-05</p>
                    </div>
                    <div class="icon_caidan">
                        <ul>
                            <li class="icon icon-weixin1"></li>
                            <li class="icon icon-weibo1"></li>
                            <li class="icon icon-qq"></li>
                            <li class="icon icon-skip"></li>
                        </ul>
                    </div>
                </div>

                <div>
                    <div class="underlineTop"></div>
                    <div class="txtCenter">
                        <p>
                            起于舌尖，落于心间
                        </p>
                        <p>对于真正的吃货来说，美味是不能将就的，就像酸辣粉不能没有酸一样</p>

                    </div>
                    <div class="underlineBottom"></div>
                </div>
            </div>
        </section>
        <section class="clear">
            <p>
                一觉醒来感觉大脑就是兴奋的，是因为昨天睡得早还是因为今天结训那？我想都有点吧。
            </p>
            <p>
                2012.3.23，天气晴朗，只是风力较大。心情却是极好的。
            </p>
            <p>
                上午，听一个胖胖的教授讲一些东西，撇了眼窗外，风真的很大，吹着不知明的树，来回摇晃，像一个喝醉了的人。看到这两棵树，我仿佛看到了高中学校的梧桐树。
            </p>

          <div class="imgCenter" >
              <img src="img/1/4.jpg" style="width: 300px; height: 300px;" alt="">
          </div>

            <p>
                春天里，我站在二楼的窗前，打开窗户，风就进来了，带着梧桐花香，那感觉真的很棒，我很迷恋。也总是喜欢走下楼到梧桐树下，踩在落下的梧桐花下，足下便全是花香，走起路也会觉得自信满满，那是很美好的。
            </p>
            <p>

                夏天，梧桐花早已落下，只剩下满满的叶子，大大的，密密麻麻的洒下一片阴凉。阳光从这绿伞中寻找缝隙，射出一束束光，斑驳的影子便落在曾满是梧桐香的路面上。我那时总是在想：为什么梧桐要先开花，然后才会长出叶子。还未想出什么铃声就会响起。
            </p>
            <p>
                秋天的时候，所有叶子都要落下，我也会到树下等待叶子下落。尤其喜欢踩在干枯的叶子上，你一踩上去，就会发出脆脆的声音，我觉得那是最美的音乐，里面夹杂着梧桐这一季的沧桑
            </p>


                <div class="imgCenter" >
                    <img src="img/1/5.jpg" style="width: 300px; height: 300px;" alt="">
                </div>

            <p>
                冬天的梧桐是凄凉的，可是我还是会到窗前，去看它，把每一个枝干都插进我的想象里，于是它又有了生命。下雪后的梧桐更美，枝枝干干像小手一样全都捧着雪，那么精致，令人心动。
            </p>
            <p>
                我想今年它的花会开的晚些，也不知它现在是否还安好，但我想它还是那样，只是不知道还是否有人如我般关注喜欢它。
            </p>
            <p>
                想念高中的大家，希望大家都好吧，如梧桐般四季都美好
            </p>



                <div class="imgCenter" >
                    <img src="img/1/5.jpg" style="width: 300px; height: 300px;" alt="">
                </div>

            <div class="bottomIcon">
                <ul>
                    <li class="icon icon-weixin1"></li>
                    <li class="icon icon-weibo1"></li>
                    <li class="icon icon-qq"></li>
                    <li class="icon icon-skip"></li>
                </ul>
            </div>
        </section>

        <section>
            <div>

            </div>
        </section>


        <section>
            <div class="clear">
                <h2>添加评论：</h2>
                <div class="commentHead">
                    <img src="img/1/12.jpg" alt="">
                </div>
                <textarea name="" id="" cols="82" rows="8"></textarea>
                <div class="commentIcon">
                    <ul>
                        <li class="icon icon-shoucang">表情</li>
                        <li class="icon icon-shoucang">图片</li>
                        <li class="icon icon-shoucang">商品</li>
                    </ul>
                    <button>提交</button>
                </div>
            </div>
        </section>
    </div>
</div>
<%-include("footer.html")%>
<script src="../plug/jquery/jquery-3.3.1.min.js"></script>
<script src="./js/head.js"></script>
</body>
</html>