<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <footer>
        <p>每一次追寻，都为更好的你</p>
        <ul>
            <li>
                <h4>常见问题</h4>
                <ul>
                    <li>常见问题</li>
                </ul>
            </li>
            <li>
                <h4>配送说明</h4>
                <ul>
                    <li id="">配送范围</li>
                    <li id="">无货/配货</li>
                    <li id="">异常处理</li>
                </ul>
            </li>
            <li>
                <h4>售后服务</h4>
                <ul>
                    <li id="">退货流程</li>
                    <li id="">退货政策</li>
                    <li id="">退货地址</li>
                    <li id="">退货说明</li>
                </ul>
            </li>
            <li>
                <h4>联系我们</h4>
                <ul>
                    <li id="">业务洽谈</li>
                    <li class="iconLi"><span class="icon icon-weixin1"></span></li>
                    <li class="iconLi"><span class="icon icon-weibo1"></span></li>
                </ul>
            </li>
        </ul>
        <p>小食记 川ICP备1222342432号-1 | Email：yunyang996@xsj.com | tel:400-100-8888</p>
        <p>Copyright © 2010-2019 ...商贸有限公司 版权所有</p>
    </footer>
</body>
</html>