<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div id="cont">
    <%-include('head.html')%>
    <div id="banner">
        <div class="middle_right">
            <div id="lunbobox">
                <div class="lunbo">
                    <% for(let i =0;i<5;i++){%>
                    <a href="#"><img src= "<%=data[i].banner%>"></a>
                    <% }%>
                </div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <span></span>
            </div>
        </div>
    </div>
    <div id="Explosive">
        <div class="Explosive">
            <p>爆款推荐</p>
        </div>
        <p class="Explosive_p">explosion recommendation
        </p>
        <div class="Explosive_logo">
            <div class="fist left">
                <img  class="img" src="img/biao.png" alt="">
                <div class="fist_pohto"style="background-image: url('<%= date[3].route %>');background-size:100% 100%">
                </div>
                <div class= "font_one"><h3><%= date[3].goods_name %></h3>
                    <p><%= date[3].resume %></p></div>
                <div id="RMB_one"><p class="RMB">RMB</p>
                    <p class="mony">38</p></div>

            </div>
            <div class="fist zhongjian">
                <img  class="img zhongjiantu" src="img/biao.png" alt="">
                <div class="fist_pohto zhongjianbeijing" style="background-image: url('<%= date[2].route %>');background-size:100% 100%"></div>
                <div class= "font_one">
                    <h3><%= date[2].goods_name %></h3>
                    <p><%= date[2].resume %></p></div>
                <div id="RMB_tow"><p class="RMB">RMB</p>
                    <p class="mony">38</p></div>
            </div>
            <div class="fist left">
                <img  class="img" src="img/biao.png" alt="">
                <div class="fist_pohto" style="background-image: url('<%= date[7].route %>');background-size:100% 100%"></div>
                <div class= "font_one"><h3><%= date[7].goods_name %></h3>
                    <p><%= date[7].resume %></p></div>
                <div id="RMB_three"><p class="RMB">RMB</p>
                    <p class="mony">38</p></div>
            </div>
            <hr/>
            <hr class="right"/>
        </div>
        <button class="btn">更多</button>
    </div>
    <div id="Taste">
        <div class="Tast">
            <img src="img/q'q.png" alt="">
            <p>口味侦探</p>
        </div>
        <p class="Explosive_p">Taste
            detective
        </p>
        <div id="pohop">
            <div id="phop">
                <img src="img/sydt.gif" alt="">
            </div>
            <p class="chakan">查看更多→</p>
        </div>
    </div>
    <div id="Food">
        <div class="Tast food_tast">
            <img src="img/q'q.png" alt="">
            <p>美食介绍</p>
        </div>
        <p class="Explosive_p food_p">Food presentation
        </p>
        <div class="foodleft">
            <div class="left_pphop" id="fist">
                <img class="fangda" id="fistpohop" src="img/song.jpg" alt="">
            </div>
            <div class="left_right">
                <div class="div">
                    <p>高桥松饼</p>
                </div>
                <div class="Food_font">
                    <p>高桥松饼为上海市浦东新区高桥镇四大名点，因其入口酥松而得名。又因酥皮层次分明，每层薄如纸，别称千层饼。通常用精白粉（面粉）、熟猪油、绵白糖、赤豆、桂花为原料
                    </p>
                </div>
                <div class="understand"><a href="/goodsDetail.do?g=7">更多>></a></div>
            </div>
        </div>
        <div class="foodleft diergeya">
            <div class="left_pphop" id="dier">
                <img class="fangda" id="dierge" src="img/d.jpg" alt="">
            </div>
            <div class="left_right dierge">
                <div class="div divone">
                    <p>吉林党参</p>
                </div>
                <div class="Food_font diergewenzi">
                    <p>党参别名东党参、三叶菜。主产于通化、抚松、靖宇、长白等地。在海拔200-1500米的林下，灌丛及溪流畔经常成片生长，多生于肥沃深厚的腐殖质土壤中。党参是颇受医学家重视的常用中药之一，根入中药，始载于清《本草从新》，为滋补强壮剂。党参性平味甘，入脾，具有补足益气、养血生津之功效，用于中风虚弱、脾虚泄泻、津伤口渴、血虚萎黄等症。
                    </p>
                </div>
                <div class="understand understandone"><a href="/goodsDetail.do?g=6">更多>></a></div>
            </div>
        </div>
        <div class="foodleft">
            <div class="left_pphop" id="last">
                <img class="fangda" id="lastpohop" src="img/h.jpg" alt="">
            </div>
            <div class="left_right">
                <div class="div">
                    <p>黄桃酒</p>
                </div>
                <div class="Food_font">
                    <p>富含碳水化合物，构成机体的重要物质;储存和提供热能;维持大脑功能必须的能源;调节脂肪代谢;提供膳食纤维;节约蛋白质;解毒;增强肠道功能。富含维生素c，维c具有保护牙齿健康，预防动脉硬化，清除自由基防癌，保护细胞、解毒，保护肝脏，提高免疫力、应急能力。
                    </p>
                </div>
                <div class="understand"><a href="/goodsDetail.do?g=7">更多>></a></div>
            </div>
        </div>
    </div>
    <div id="experience">
        <div id="logo_e">
            <div id="yeelow_e">
            </div>
            <ul id="logoul_e">
                <li><img class="logo" src="img/1123.png" alt=""></li>
                <li><p class="logop">小食记</p></li>
            </ul>
            <p id="loge_p">experience the best food</p>
        </div>
        <div class="poster-btn poster-prev-btn"></div>
        <div class="poster-main">
            <div class="poster-btn poster-prev-btn"></div>
            <ul class="poster-list">
                <% for(let i =0;i<5;i++){%>
                <li class="poster-item"><a href="#"><img src= "<%= date[i].route %>"></a>
                    <span class="poster-item-title"><%= date[i].goods_name %></span>
                    <% }%>
            </ul>
            <div class="poster-btn poster-next-btn"></div>
        </div>
        <div id="More">
            <p>更 多</p>
        </div>
    </div>
    <div id="product">
        <div class="Explosive product_div">
            <p>热销产品</p>
        </div>
        <p class="Explosive_p product_p">hot-shop product
        </p>
        <div id="box">
            <% for(let i =0;i< 8;i++){%>
            <div class="content">
                <a href="/goodsDetail.do?g=<%=date[i].goods_id%>"><img src="<%= date[i].route%>" alt=""></a>
                <h4><a href="/goodsDetail.do?g=<%=date[i].goods_id%>"><%= date[i].goods_name%></a></h4>
                <p>￥ <%= date[i].price%><span class="icon icon-gouwuche Shopping"></span></p>
            </div>
            <% }%>
        </div>
    </div>
</div>
<%-include('footer.html')%>
<script src="plug/jquery/jquery-3.3.1.min.js"></script>
<script src="js/head.js"></script>
<script src="plug/jquery/jquery-1.10.2.js"></script>
<script src="js/Carousel.js"></script>
<script src="js/index_js.js"></script>
<script>
</script>
</body>
</html>