<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的地址</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/userCenter.css">
</head>
<body>
<!-- @Description: -->
<!-- @author WXH -->
<!-- @date 2019/4/26 11:18-->
<!--<section>-->
<!--    <div class="right">-->
        <p>
            <span></span>
            我的地址
        </p>
        <div>
            <div class="add" id="add">
                <span class="icon icon-jiahao1"></span>
                <a href="#">添加地址</a>
            </div>
<!--            添加地址-->
            <div class="addAddress">
                <form action="" id="addressForm">
                    <table>
                        <tr>
                            <th>联系人</th>
                            <td>
                                <input type="text" name="people"><br/>
                                <span class="tips1" hidden>*请输入中文</span>
                            </td>
                        </tr>
                        <tr>
                            <th>所在地区</th>
                            <td>
                                <select id="queryProvince" class="selectpicker" data-live-search="true" name="pro">
                                    <option data-tokens="ketchup mustard" value="-1">请选择省</option>
                                </select>

                                <select id="queryCity" class="selectpicker" data-live-search="true" name="city">
                                    <option data-tokens="ketchup mustard" value="请选择市">请选择市</option>
                                </select>

                                <select id="queryCounty" class="selectpicker" data-live-search="true"  name="county">
                                    <option data-tokens="ketchup mustard" value="">请选择县区</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>详细地址</th>
                            <td>
                                <textarea id="" cols="21" rows="5" name="detailsAddress"></textarea><br/>
                            </td>
                        </tr>
                        <tr>
                            <th>手机号码</th>
                            <td>
                                <input type="text" name="number"><br/>
                                <span class="tips2" hidden>*请输入11位的电话号码</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button id="saveAddress" type="button">保存</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <table class="myAddress" cellspacing="20">
                <thead>
                <tr>
                    <th>联系人</th>
                    <th>所在地区</th>
                    <th>详细地址</th>
                    <th>手机号码</th>
                    <th>操作</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="myAddress">

                </tbody>
            </table>
        </div>
<!--        修改地址-->
        <div class="updateAddress">
            <form action="" id="updateAddressForm">
                <table>
                    <tr>
                        <th>联系人</th>
                        <td><input type="text" name="uptaPeople"></td>
                    </tr>
                    <tr>
                        <th>所在地区</th>
                        <td>
                            <select id="queryProvince1" class="selectpicker" data-live-search="true" name="pro">
                                <option data-tokens="ketchup mustard" value="-1">请选择省</option>
                            </select>

                            <select id="queryCity2" class="selectpicker" data-live-search="true" name="city">
                                <option data-tokens="ketchup mustard" value="请选择市">请选择市</option>
                            </select>

                            <select id="queryCounty3" class="selectpicker" data-live-search="true"  name="county">
                                <option data-tokens="ketchup mustard" value="">请选择县区</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>详细地址</th>
                        <td>
                            <textarea name="" cols="21" rows="5"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>手机号码</th>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button id="updateSave" type="button">保存</button>
                            <button id="reset" type="button">取消</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="divPage">
            <ul>
                <li class="icon icon-xiangzuojiantou" title="上一页"></li>
                <li>1</li>
                <li class="icon icon-xiangyoujiantou" title="下一页"></li>
            </ul>
        </div>
<!--    </div>-->
<!--</section>-->
</body>
<!--<script src="../plug/jquery/jquery-3.3.1.min.js"></script>-->
<!--<script src="../js/myAddress.js"></script>-->
</html>