<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/proDet.css">
</head>
<!--产品详情-->
<body>
<%-include("head.html")%>
<section class="option">
    <div class="pic">
        <div class="small_box">
            <span class="mask"></span>
            <span class="float_layer"></span>
            <img src="../img/goods/<%=pic[0].route%>" />
        </div>
        <div class="big_box">
            <img src="../img/goods/<%=pic[0].route%>" />
        </div>
        <ul id="imgList" class="imglist">
            <% for(let i=0;i< pic.length && i< 5;i++){ if(i==0){%>
                    <li class="checked"><img src="../img/goods/<%=pic[i].route%>" alt=""></li>
            <%}else{%>
                    <li><img src="../img/goods/<%=pic[i].route%>" alt=""></li>
            <%}}%>
        </ul>
    </div>
    <div class="console">
        <div><span class="tag"><%=goods[0].label%></span></div>
        <h3 id="goodsName" data-id="<%=goods[0].goods_id%>"><%=goods[0].goods_name%></h3>
        <p><%=goods[0].goods_resume%></p>
        <div class="price">
            <div>
                <div class="nowPrice">
                    <span>到手价</span><span>￥</span><span id="newPrice"><%=goods[0].price%></span><span>降价通知</span>
                </div>
                <div>
                    <span>原&emsp;&emsp;价</span><span>￥</span><span id="oldPrice"><%=goods[0].oldPrice%></span><span>库存：</span><span id="stock"><%=goods[0].stock%></span>
                </div>
            </div>
            <div>
                <div>累计评价</div>
                <div><%=review.length%></div>
            </div>
        </div>
        <div class="area">
            <div>配&ensp;送&ensp;至：</div>
            <div class="area-text icon" data-id="1-72-4137" title="北京朝阳区管庄地区">北京朝阳区管庄地区</div>
            <div>有货</div>
        </div>
        <div class="sort" id="sort">
            <div>选择规格：</div>
            <ul>
                <% for(let i=0;i< goods.length;i++){ if(i==0){%>
                    <li class="checked" data-attId="<%=goods[i].order_id%>" data-price="<%=goods[i].price%>&<%=goods[i].oldPrice%>" title="商品库存：<%=goods[i].stock%>"><%=goods[i].taste%></li>
                <%}else{%>
                    <li data-attId="<%=goods[i].order_id%>" data-price="<%=goods[i].price%>&<%=goods[i].oldPrice%>" title="商品库存：<%=goods[i].stock%>"><%=goods[i].taste%></li>
                <%}}%>
            </ul>
        </div>
        <div class="amount">
            <div>数&emsp;&emsp;量：</div>
            <div><span id="reduce">-</span><input type="text" value="1" id="num" name="num"/><span id="add">+</span></div>
        </div>
        <div class="buy">
            <div class="cart" id="addToCard">加入购物车</div>
        </div>
    </div>
    <div class="shareBar">
        <span class="icon icon-shoucang">收藏该商品</span><span class="icon icon-fenxiang">分享给朋友</span>
    </div>
</section>
<section class="details">
    <div class="tag">
        <ul>
            <li class="checked" id="messageTag">商品详情</li>
            <li id="reviewTag">累计评价<span><%=review.length%></span></li>
        </ul>
    </div>
    <div class="message" id="messageBox">
        <div class="attribute">
            <div>
                <p>商品名称：<span><%=goods[0].goods_name%></span></p>
                <p>产品参数：</p>
            </div>
            <ul>
                <li>品牌: Three Squirrels/三只松鼠</li>
                <li>系列: 每日坚果001</li>
                <li>产地: 中国大陆</li>
                <li>包装方式: 包装食品</li>
                <li>生产许可证编号：SC12432012400284</li>
                <li>产品标准号：Q/FJDF 0003S</li>
                <li>配料表：扁桃仁、蔓越莓干（蔓越莓、白砂糖、葵花籽油）、核桃仁</li>
                <li>保质期：180 天</li>
            </ul>
        </div>
        <div class="discription">
            <%-goods[0].details%>
        </div>
    </div>
    <div class="review" id="reviewBox">
        <ul>
        <% if(review.length>0){ for(let i=0;i< review.length;i++){%>
            <li>
                <div class="avatar">
                    <div>
                        <img src="img/<%=review[i].avatar%>" alt="<%=review[i].nickname%>" />
                    </div>
                    <p class="user"><span><%=review[i].nickname%></span><span><%for(let j=0;j< review[i].level;j++){%>★<%}%></span><span class="icon icon-dianzan2-copy"><%=review[i].like_num%></span></p> 
                    <p class="data"><span><%=review[i].time%></span><span><%=review[i].goods_name%></span></p>
                </div>
                <p class="content"><%=review[i].content%></p>
            </li>
        <%}}%>
        </ul>
    </div>
</section>
<%-include("footer.html")%>
<script src="../plug/jquery/jquery-3.3.1.min.js"></script>
<script src="../js/proDet.js"></script>
<script src="../js/head.js"></script>
</body>
</html>